@import "/components/NavBar/NavBar";
@import "/components/Landing/Landing";
@import "/components/AboutMe/AboutMe";

.HomePage {
  overflow-x: hiden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  background: $bg-main;
  height: 100vh;
}
