//Global variables
$main-teal: #7ae2f0;
$main-purple: #5b00c4;
$text-main: #e7e7e7;
$text-secondary: #9b9b9b;
$bg-main: #00031a;
$gradient-main: linear-gradient(to right, $main-teal, $main-purple);
$gradient-radial: radial-gradient(circle, $main-teal, $main-purple);

//Style sheets imports
@import "/pages/index";

//Global Styling
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $text-secondary;
}
