//Global variables
$teal-main: #3cb2c2;
$purple-main: #9d00c4;
$text-main: #e7e7e7;
$text-secondary: #9b9b9b;
$text-bright: #fff;
$bg-main: #000004;
$gradient-main: linear-gradient(to right, $teal-main, $purple-main);
$gradient-radial: radial-gradient(circle, $teal-main, $purple-main);

//Style sheets imports
@import "/pages/index";

//Global Styling
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $text-secondary;
}
